{% extends 'base/base.html' %}

{% block title %}Be cooking — Статьи{% endblock %}

{% block main_class %}gallery-main{% endblock %}
{% block container_class %}gallery-container{% endblock %}

{% block content %}
<div class="gallery-header-wrapper" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="gallery-title">Статьи</h1>
    
    {% if current_user.is_authenticated and current_user.role.name == 'ADMIN' %}
        <a href="{{ url_for('admin_add_article') }}" class="chef-edit-submit-btn" style="text-decoration: none; padding: 10px 20px; font-size: 14px;">+ Добавить статью</a>
    {% endif %}
</div>

<div class="gallery-grid">
    {% for article in articles %}
        {% with 
            title = article.title, 
            image_url = article.main_image_url, 
            detail_endpoint = 'article_detail', 
            item_id = article.id 
        %}
            {% include 'components/_card.html' %}
        {% endwith %}
    {% else %}
        <p>Статей пока нет, но скоро они появятся!</p>
    {% endfor %}
</div>

{% if articles|length > 0 %}
<div class="gallery-pagination">
    {# Стрелка "назад" — только если не первая страница #}
    {% if current_page > 1 %}
        <a href="{{ url_for('articles', page=current_page-1) }}" class="pagination-btn">←</a>
    {% endif %}
    
    {# Стрелка "вперед" — только если есть следующая страница #}
    {% if has_next %}
        <a href="{{ url_for('articles', page=current_page+1) }}" class="pagination-btn">→</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}