{% extends 'base/base.html' %}

{% block title %}Be cooking — Мои рецепты{% endblock %}

{% block main_class %}my-recipes-main{% endblock %}
{% block container_class %}my-recipes-container{% endblock %}

{% block content %}
<div class="my-recipes-header-wrapper">
    <h1 class="my-recipes-title">Мои рецепты</h1>
</div>

<div class="my-recipes-filter-wrapper">
    <div class="dropdown">
        <button class="filter-status-btn" type="button">
            {% if current_status %}
            {{ status_labels[current_status] }}
            {% else %}
            Все рецепты
            {% endif %}
        </button>

        <div class="dropdown-content">
            <a href="{{ url_for('my_recipes') }}">Все рецепты</a>
            <a href="{{ url_for('my_recipes', status='published') }}">Опубликованные</a>
            <a href="{{ url_for('my_recipes', status='pending') }}">На модерации</a>
            <a href="{{ url_for('my_recipes', status='rejected') }}">Отклонённые</a>
        </div>
    </div>
</div>

<div class="my-recipes-grid">
    {% for recipe in my_recipes %}
    <div class="my-recipe-card">
        {% with
        detail_endpoint = 'recipe_manage',
        item_id = recipe.id
        %}
        {% set card_name = recipe %}
        {% include 'components/_card.html' with context %}
        {% endwith %}

        {% if recipe.status.value == 'published' %}
        <div class="recipe-status recipe-status-published">Опубликован</div>
        {% elif recipe.status.value == 'pending' %}
        <div class="recipe-status recipe-status-pending">На модерации</div>
        {% elif recipe.status.value == 'rejected' %}
        <div class="recipe-status recipe-status-rejected">Отказано</div>
        {% endif %}
    </div>
    {% else %}
    <p>У вас нет рецептов с таким статусом</p>
    {% endfor %}
</div>

<div class="my-recipes-pagination">
    {% if has_prev %}
    <a href="{{ url_for('my_recipes', limit=limit, offset=offset-limit, status=current_status) }}"
       class="pagination-btn">←</a>
    {% endif %}

    {% if has_next %}
    <a href="{{ url_for('my_recipes', limit=limit, offset=offset+limit, status=current_status) }}"
       class="pagination-btn">→</a>
    {% endif %}
</div>

<div class="my-recipes-footer">
    <a href="{{ url_for('recipe_add') }}" class="create-recipe-btn-footer"
       style="text-decoration: none; display: inline-block;">
        Создать новый рецепт
    </a>
</div>
{% endblock %}