{% extends 'base/base.html' %}

{% block title %}Be cooking — Главная{% endblock %}

{% block content %}
<!-- СЕКЦИЯ 1: НОВЫЕ РЕЦЕПТЫ -->
<section class="section">
    <div class="section-title-wrapper">
        <h2 class="section-title">Новые рецепты</h2>
    </div>
    <div class="cards-grid">
        {% for recipe in recipes %}
        {% with
        detail_endpoint = 'recipe_detail',
        item_id = recipe.id
        %}
        {% set card_name = recipe %}
        {% include 'components/_card.html' with context %}
        {% endwith %}
        {% endfor %}
    </div>
</section>

<!-- СЕКЦИЯ 2: НОВЫЕ СТАТЬИ -->
<section class="section">
    <div class="section-title-wrapper">
        <h2 class="section-title">Новые статьи</h2>
    </div>
    <div class="cards-grid">
        {% for article in articles %}
        {% with
        title = article.title,
        image_url = article.main_image_url,
        detail_endpoint = 'article_detail',
        item_id = article.id
        %}
        {% include 'components/_card.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</section>
{% endblock %}