<div class="ingredient-row">
    <input type="text"
           name="ingredient_name"
           class="ingredient-name-input"
           placeholder="Название"
           value="{{ ingredient.name if ingredient else '' }}" required>

    <input type="text"
           name="ingredient_amount"
           class="ingredient-amount-input"
           placeholder="Кол-во"
           value="{{ ingredient.amount if ingredient else '' }}" required>

    <input type="text"
           name="ingredient_unit"
           class="ingredient-unit-input"
           placeholder="Ед. изм."
           value="{{ ingredient.unit if ingredient else '' }}" required>

    <button type="button" class="ingredient-delete-btn" title="Удалить">×</button>
</div>
