{% if card_name == recipe %}

<div class="card">
    <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}"
       class="card-link">
        <div class="card-inner">
            <div class="card-image">
                <img src="{{ recipe.main_image_url if recipe.main_image_url else 'https://placehold.co/400x300' }}"
                     alt="{{ recipe.title }}">
            </div>
            <div class="card-text">{{ recipe.title }}</div>
        </div>
    </a>
</div>

{% else %}

{% endif %}