<div class="card">
    {# Ссылка обертывает всю карточку, чтобы на нее можно было нажать #}
    <a href="{{ url_for(detail_endpoint, id=item_id) }}" class="card-link">
        <div class="card-inner">
            <div class="card-image">
                {# Если фото нет, будет заглушка заглушку #}
                <img src="{{ image_url if image_url else 'https://placehold.co' }}" 
                     alt="{{ title }}">
            </div>
            <div class="card-text">
                {# Название рецепта/статьи#}
                {{ title }}
            </div>
        </div>
    </a>
</div>
