<div class="comment-item comment-other">
    <div class="comment-author-pill">
        {{ comment.author.username }}
    </div>

    <div class="comment-meta">
        <span>Добавлен: {{ comment.created_at.strftime('%d.%m.%Y %H:%M') }}</span>

        {% if comment.is_edited %}
        <span>Изменён: {{ comment.updated_at.strftime('%d.%m.%Y %H:%M') }}</span>
        {% endif %}
    </div>

    <div class="comment-text-card">
        <div class="comment-text-content">{{ comment.text }}</div>
    </div>
</div>