<div class="favorite-card" id="favorite-{{ item.id }}">
    <form action="{{ url_for('remove_favorite', recipe_id=item.id) }}" method="POST">
        <button
            type="submit"
            class="favorite-flag-btn is-active"
            aria-label="Удалить из избранного"
            title="Удалить из избранного"
        >
            <svg width="20" height="24" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H22V24L12 18L2 24V2Z"/>
            </svg>
        </button>
    </form>

    {% include 'components/_card.html' %}
</div>