{% extends 'base/base.html' %}

{% block title %}Be cooking — Рецепты{% endblock %}

{% block main_class %}gallery-main{% endblock %}
{% block container_class %}gallery-container{% endblock %}

{% block content %}
<div class="gallery-header-wrapper">
    <h1 class="gallery-title">Рецепты</h1>
</div>

<div class="gallery-grid">
    {% for i in range(9) %}
        {% include 'components/_card.html' %}
    {% endfor %}
</div>

<div class="gallery-pagination">
    <button class="pagination-btn prev-btn">←</button>
    <button class="pagination-btn next-btn">→</button>
</div>
{% endblock %}