{% extends 'base/base.html' %}

{% block title %}Be cooking — Рецепты{% endblock %}

{% block main_class %}gallery-main{% endblock %}
{% block container_class %}gallery-container{% endblock %}

{% block content %}
<div class="gallery-header-wrapper">
    <h1 class="gallery-title">Рецепты</h1>
</div>

<div class="gallery-grid">
    {% for recipe in recipes %}
    {% set card_name = recipe %}
    {% include 'components/_card.html' with context %}
    {% endfor %}
</div>

<div class="gallery-pagination">
    {% if has_prev %}
    <a href="{{ url_for('recipes', limit=limit, offset=offset-limit) }}" class="pagination-btn prev-btn">←</a>
    {% endif %}

    {% if has_next %}
    <a href="{{ url_for('recipes', limit=limit, offset=offset+limit) }}" class="pagination-btn next-btn">→</a>
    {% endif %}
</div>
{% endblock %}